.headerBox {
  background-color: var(--badges);
  border-bottom: 1px solid var(--badges);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoLink {
  display: block;
  padding: 24px 0;
}

.logo {
  width: 104px;
  height: 16px;
}

.navList {
  display: flex;
  gap: 32px;
  font-family: var(--font-manrope-sans);
  font-weight: 500;
}

.navLink {
  display: inline-block;
  padding: 24px 0;
  transition: ease-in-out 0.3s;
}

.navLink:hover {
  color: var(--button-hover);
}
