.formBox {
  padding: 0 32px;
  padding-top: 32px;
}
.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
}
.text {
  font-weight: 500;
  margin-bottom: 24px;
  color: var(--gray);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input {
  border-radius: 12px;
  padding: 12px 20px;
  background-color: var(--inputs);
  border: none;
  color: var(--gray);
  outline: none;
}

.btn {
  background-color: var(--button);
  color: var(--white);
  padding: 12px 51px;
  transition: ease-in-out 0.3s;
}
.btn:hover {
  background-color: var(--button-hover);
}
